<div class="parent-container">
  <div class="piecetile corner"></div>
  <div class="piecetile {{uppermiddle}}"></div>
  <div class="piecetile lastinrow corner"></div>
  <div class="piecetile {{middleleft}}"></div>
  <div class="piecetile {{center}}"></div>
  <div class="piecetile lastinrow {{middleright}}"></div>
  <div class="piecetile corner"></div>
  <div class="piecetile {{lowermiddle}}"></div>
  <div class="piecetile lastinrow corner"></div>
  <button {{action 'newTile'}}>New Tile</button>
  <button {{action 'rotate'}}>Rotate</button>
  <button {{action 'selectTile'}}>Select Tile</button>
</div>
