<div class="button">
  <button {{action 'newGame'}}>New Game</button>
</div>
{{leader-board highscores=highscores}}
{{#if gameOver}}
  {{#tether-dialog renderInPlace=true close='toggleGameOver'}}
    <h1>Sorry, but that guess was incorrect</h1>
    <p>Your score was {{score-calculator correctSequence.length}}. Press Ok to add your high score to the list.</p>
    <button {{action 'toggleGameOver'}}>No Thanks</button>
    <button {{action 'addHighScore' correctSequence.length}}>Add High Score</button>
  {{/tether-dialog}}
{{/if}}

<section class="frog-group">
  <img class="lilly1" src="img/lillypad2.png" alt="" />
  <img class="lilly2" src="img/lillypad2.png" alt="" />
  <img class="lilly3" src="img/lillypad2.png" alt="" />
  <img class="lilly4" src="img/lillypad2.png" alt="" />
  <img class="lilly5" src="img/lillypad2.png" alt="" />
  <img class="lilly6" src="img/lillypad2.png" alt="" />
  <img class="lilly7" src="img/lillypad2.png" alt="" />
  <img class="lilly8" src="img/lillypad2.png" alt="" />
  <img class="lilly9" src="img/lillypad2.png" alt="" />
  <img class="lilly10" src="img/lillypad2.png" alt="" />
  <img class="lilly11" src="img/lillypad2.png" alt="" />
  <img class="lilly12" src="img/lillypad2.png" alt="" />
  <img class="lilly13" src="img/lillypad2.png" alt="" />
  <img class="lilly14" src="img/lillypad2.png" alt="" />
  <img class="lilly15" src="img/lillypad2.png" alt="" />
  <img class="lilly16" src="img/lillypad2.png" alt="" />
  <img class="lilly17" src="img/lillypad2.png" alt="" />
  <img class="lilly18" src="img/lillypad2.png" alt="" />
  <img class="lilly19" src="img/lillypad2.png" alt="" />
  <img class="lilly20" src="img/lillypad2.png" alt="" />
  <img class="lilly21" src="img/lillypad2.png" alt="" />
  <img class="lilly22" src="img/lillypad2.png" alt="" />
  <img class="lilly23" src="img/lillypad2.png" alt="" />
  <img class="lilly24" src="img/lillypad2.png" alt="" />
  <img class="lilly25" src="img/lillypad2.png" alt="" />
  <img class="lilly26" src="img/lillypad2.png" alt="" />
  <img class="lilly27" src="img/lillypad2.png" alt="" />
  <img class="lilly28" src="img/lillypad2.png" alt="" />
  {{#if redOn}}
  <div class="red color">
    <img src="img/frog-sing-red.png" alt="red frog" />
  </div>
  {{else}}
  <div {{action 'guessColor' "red"}} class="red color off  water-one">
    <img src="img/frog-resting-red.png" alt="red frog" />
  </div>
  {{/if}}
  {{#if blueOn}}
  <div class="blue color">
    <img src="img/frog-sing-blue.png" alt="blue frog" />
  </div>
  {{else}}
  <div {{action 'guessColor' "blue"}} class="blue color off">
    <img src="img/frog-resting-blue.png" alt="blue frog" />
  </div>
  {{/if}}
  {{#if greenOn}}
  <div class="green color">
    <img src="img/frog-sing.png" alt="green frog" />
  </div>
  {{else}}
  <div {{action 'guessColor' "green"}} class="green color off">
    <img src="img/frog-resting.png" alt="green frog" />
  </div>
  {{/if}}
  {{#if yellowOn}}
  <div class="yellow color">
    <img src="img/frog-sing-yellow.png" alt="yellow frog" />
  </div>
  {{else}}
  <div {{action 'guessColor' "yellow"}} class="yellow color off">
    <img src="img/frog-resting-yellow.png" alt="yellow frog" />

  </div>
  {{/if}}
</section>
