<h1>Tritryst</h1>
<h4>Score: {{score}}</h4>
<div class="tritryst">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=0}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=1}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=2}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=3}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=4}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=5}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=6}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=7}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=8}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=9}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=10}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=11}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=12}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=13}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=14}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=15}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=16}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=17}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=18}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=19}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=20}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=21}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=22}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=23}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=24}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=25}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=26}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=27}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=28}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=29}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=30}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=31}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=32}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=33}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=34}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=35}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=36}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=37}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=38}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=39}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=40}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=41}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=42}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=43}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=44}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=45}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=46}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=47}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=48}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=49}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=50}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=51}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=52}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=53}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=54}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=55}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=56}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=57}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=58}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=59}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=60}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=61}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=62}}
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=63}}
</div>
<div class="piece-selection">
  {{piece-selector selectTile="selectTile"}}
</div>
