<h1>Tritryst</h1>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=0}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=1}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=2}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=3}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=4}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=5}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=6}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=7}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=8}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=9}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=10}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=11}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=12}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=13}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=14}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=15}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=16}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=17}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=18}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=19}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=20}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=21}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=22}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=23}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=24}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=25}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=26}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=27}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=28}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=29}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=30}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=31}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=32}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=33}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=34}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=35}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=36}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=37}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=38}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=39}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=40}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=41}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=42}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=43}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=44}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=45}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=46}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=47}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=48}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=49}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=50}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=51}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=52}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=53}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=54}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=55}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=56}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=57}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=58}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=59}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=60}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=61}}
</div>
<div class="tritile">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=62}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile placeTile="placeTile" boardstate=boardstate location=63}}
</div>

<div class="piece-selection">
  {{piece-selector selectTile="selectTile"}}
</div>
