<h1>Tritryst</h1>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile">
  {{tritryst-tile}}
</div>
<div class="tritile lastinrow">
  {{tritryst-tile}}
</div>

<div class="piece-selection">
  {{piece-selector}}
</div>
